<!DOCTYPE html>
{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}株価分析{% endblock %}</h1>
{% endblock %}

{% block content %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Mon', 3370, 3430, 3360, 3425],
    ['Tue', 3400, 3435, 3340, 3345],
    ['Wed', 3350, 3355, 3270, 3270],
    ['Thu', 3275, 3285, 3235, 3270],
    ['Fri', 3240, 3250, 3200, 3240]
    // Treat first row as data as well.
  ], true);

  var options = {
    legend:'none'
  };

  var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

  chart.draw(data, options);
}
  </script>
  <div id="chart_div" style="width: 900px; height: 500px;"></div>

{% endblock %}